.form-inline {
  width: 100%;
  margin-top: 5%;
  margin-left: 30%;
}

#phone {
  margin-top: 2%;
}

#email {
  margin-top: 2%;
}

#blog {
  margin-top: 2%;
}

#handle {
  margin-top: 2%;
}

#submit {
  margin-top: 1%;
  margin-left: 30.5%;
}
